<main role="main" class="container">

  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>
  <div>
    <h4 *ngIf="auth.isAuthenticated()">
      You are logged in!
    </h4>
    <h4 *ngIf="!auth.isAuthenticated()">
      You are not logged in! Please <a routerLink="/login">Log In</a> to continue.
    </h4>
  </div>

</main>
